**/bin/
**/obj/
**/[Oo]ut/

*.csproj.user
*.user
*.userosscache
*.suo
*.cache
*.dll.config
*.pfx

appsettings.json
*.config

*.log
*.tmp
*.tmpproj
TEMP/
tmp/


.vs/
.vscode/
*.swp
*.swo
.idea/*


*.nupkg
*.snk
packages/ 
*.nuget.targets
*.nuget.props


[Bb]uild[Ll]og.*
*.VisualState.xml

TestResults/

*.[Cc]ache
*.[Cc]achefile
*.cachefile